---
# https://clang.llvm.org/extra/clang-tidy/checks/list.html
Checks: >
  -*,
  clang-analyzer-*,
  readability-*,
  -readability-function-cognitive-complexity,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  misc-*,
  llvm-include-order,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -readability-magic-numbers,
  -readability-non-const-parameter,
  -misc-include-cleaner,
  -modernize-macro-to-enum,
  -readability-redundant-casting,
  -readability-identifier-length,
  -readability-avoid-nested-conditional-operator,
  -readability-avoid-unconditional-preprocessor-if,
  -misc-header-include-cycle,
  -readability-suspicious-call-argument
WarningsAsErrors: '*'
